<a class="btn btn-primary" href="/#/create/user"><span class="glyphicon glyphicon-plus"></span> Create User</a>
<table class="table table-striped">
  <thead>
  <th>name</th>
  <th>email</th>
  <th>Operations</th>
  </thead>
  <tbody>
  <tr ng-repeat="user in vm.users">
    <td><a ng-href="/#/user/{{ user._id }}">{{ user.name }}</a></td>
    <td>{{ user.email }}</td>
    <td>
      <div class="button-group">
        <a ng-href="/#/user/{{ user._id }}/edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
        <a ng-href="/#/user/{{ user._id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>